- var default_email = 'info@kaayman.de'
- var default_btn_text = __('FOOTER_GET_IN_TOUCH')
section.contact-us.bg-grey
  .container.d-flex
    a.contact-us-btn.button.btn-light(href=`mailto:${footer_btn_email || default_email}`) #{footer_btn_text || default_btn_text}
footer#footer.section
  .overlay.footer-overlay
  .container
    .row.justify-content-start
      .col-lg-4.col-sm-12
        .footer-widget
          a.footer-brand.text-white(href='#') #{__('FOOTER_KAAYMAN')}
          p #{__('FOOTER_KAAYMAN_DESCRIPTION')}
      .col-lg-3.ml-lg-auto.col-sm-12
        .footer-widget
          h3 #{__('FOOTER_GENERAL')}
          ul.footer-links
            li
              a(href='#') #{__('FOOTER_TERMS_AND_CONDITIONS')}
            li
              a(href='#') #{__('FOOTER_PRIVACY_POLICY')}
            li
              a(href='#') #{__('FOOTER_AFFILIATE_SERVICES')}
      .col-lg-2.col-sm-6
        .footer-widget
          h3 #{__('FOOTER_ABOUT')}
          ul.footer-links
            li
              a(href='#') #{__('FOOTER_SERVICES')}
            li
              a(href='#') #{__('FOOTER_ABOUT_US')}
            li
              a(href='#') #{__('FOOTER_CONTACT')}
      .col-lg-2.col-sm-6
        .footer-widget
          h3 #{__('FOOTER_SOCIALS')}
          ul.list-unstyled.footer-links
            li
              a(href='#')
                i.fab.fa-facebook-f
                |  Facebook
            li
              a(href='#')
                i.fab.fa-twitter
                |  Twitter
            li
              a(href='#')
                i.fab.fa-linkedin 
                |  linkedin
            li
              a(href='#')
                i.fab.fa-xing
                |  Xing
    .row.text-right.pt-5
      .col-lg-12
        p.footer-copy
          | &copy; #{__('FOOTER_COPYRIGHT')} 
          span.current-year 2019 kaayman 
          | #{__('FOOTER_ALL_RIGHTS_RESERVED')}
  script(src='/libs/jquery/dist/jquery.min.js')
  script(src='/libs/popper.js/dist/umd/popper.min.js')
  script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
  script(src='/libs/snapsvg/snap.svg.js')
  script(src='/javascripts/theme.js')
  script(src='/javascripts/contact.js')
  script(src='/javascripts/animations.js')
  script(src='https://use.fontawesome.com/releases/v5.8.0/js/all.js')