head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='en')
  meta(name='keywords' content='kaayman, mainframe')
  meta(name='author' content='kaayman')

  link(rel="stylesheet", href='/libs/bootstrap/dist/css/bootstrap.min.css', type="text/css")
  link(rel="stylesheet", href='/stylesheets/slick.css', type="text/css")
  link(rel="stylesheet", href='/stylesheets/slick-theme.css', type="text/css")
  link(rel="stylesheet", href='/stylesheets/style.css', type="text/css")
  link(rel="stylesheet", href='/stylesheets/responsive.css', type="text/css")
  link(rel="stylesheet", href='/stylesheets/rotating-card.css', type="text/css")

  title #{__('WEBSITE_TITLE')}
body.top-header
  #page-loader
    .loader-icon.fas.fa-spinner.fa-spin.colored-border
  .logo-bar.d-none.d-md-block.d-lg-block.bg-light
    .container
      .row
        .col-lg-2
          .logo.d-none.d-lg-block
              a.navbar-brand.js-scroll-trigger(href='/index')
                img(src='/images/kaayman/kaayman.png')
        .top-info.col-lg-8.justify-content-end.ml-lg-auto.d-flex.col-12
          .top-info-block.d-inline-flex
            .info-block
              a(href='/contact' title='Contact') #{__('SHARED_CONTACT')}
          .top-info-block.d-inline-flex
            .info-block
              .dropdown
                a#dropdownMenuLink.dropdown-toggle(href='/#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{__('SHARED_ENGLISH')}
                .dropdown-menu.dropdown-menu-top-info(aria-labelledby='dropdownMenuLink')
                  a.dropdown-item(href='/#') #{__('SHARED_DEUTSCH')}

  #mainmenu-area.main-navigation.menu-2
    .container
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.main-nav.navbar-togglable
        a(href='/index').navbar-brand.d-lg-none.d-block.js-scroll-trigger
          img(src='/images/kaayman/kaayman-white.png')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.fa.fa-bars
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/digital-transformation') #{__('MENU_DIGITAL_TRANSFORMATION')}
            li.nav-item.dropdown
              a#dropdown1.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{__('MENU_SERVICES')}
              ul.dropdown-menu(aria-labelledby='dropdown1')
                li.dropdown-item.dropdown
                  a#dropdown1-1.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{__('MENU_METHODOLOGICAL_TECHNICAL_EXCELLENCE')}
                  ul.dropdown-menu
                    li.dropdown-item.sub-link(href='/enterprise-architecture-management')
                      a #{__('MENU_ENTERPRISE_ARCHITECTURE_MANAGEMENT')}
                    li.dropdown-item.sub-link(href='/agile-enablement')
                      a #{__('MENU_AGILE_ENABLEMENT')}
                    li.dropdown-item.sub-link(href='/modern-technologies-tools')
                      a #{__('MENU_MODERN_TOOLS_TECHNOLOGIES')}
                li.dropdown-item.dropdown
                  a#dropdown1-1.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Functional Excellence
                  ul.dropdown-menu
                    li.dropdown-item.sub-link(href='/application-operation')
                      a #{__('MENU_APP_OPERATION')}
                    li.dropdown-item.sub-link(href='/application-lifecycle-management')
                      a #{__('MENU_APP_LIFECYCLE_MANAGEMENT')}
                    li.dropdown-item.sub-link(href='/team-augmentation')
                      a #{__('MENU_TEAM_AUGMENTATION')}
                li.dropdown-item.dropdown
                  a#dropdown1-1.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Training & Coaching
                  ul.dropdown-menu
                    li.dropdown-item.sub-link(href='/security-and-compliance')
                      a #{__('MENU_INFO_SECURITY_COMPLIANCE')}
                    li.dropdown-item.sub-link(href='/project-management')
                      a #{__('MENU_PROJECT_MANAGEMENT')}
                    li.dropdown-item.sub-link(href='/it-sourcing-and-transformation')
                      a #{__('MENU_IT_SOURCING_TRANSFORMATION')}     

                li.dropdown-item.sub-link(href='/organizational-enablement')
                  a #{__('MENU_ORGANIZATIONAL_ENABLEMENT')}    
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/approach')  #{__('MENU_OUR_APPROACH')}
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/careers') #{__('MENU_CAREER')}
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/about-us') #{__('MENU_ABOUT_US')}
          ul.ml-lg-auto.list-unstyled.m-0
            li.d-none
              a.search-btn.btn.btn-trans-white.btn-circled(href='/#')
                i.fas.fa-search.fa-2x(data-fa-transform='shrink-3')