doctype html
html
  include partials/head.pug
  section#banner-kaayman.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('ABOUT_US_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('ABOUT_US_SECONDARY_TITLE')}
              br
              span.d-none.d-md-block
                br 
                | #{__('ABOUT_US_TERTIARY_TITLE')}
        .col-lg-4.pr-8

  section#process.section
    .container
      .row.justify-content-center.px-md-7
        .col-lg-4.col-sm-6.col-md-6
            .process-block
              img.img-fluid(src='https://image.flaticon.com/icons/svg/1283/1283342.svg' alt='')
              h3 #{__('ABOUT_US_TEAM')}
              p #{__('ABOUT_US_TEAM_DESCRIPTION')}
        .col-lg-4.col-sm-6.col-md-6
            .process-block
              img.img-fluid(src='https://image.flaticon.com/icons/svg/149/149984.svg' alt='')
              h3 #{__('ABOUT_US_LOCATIONS')}
              a(href="contact")
                p #{__('ABOUT_US_LOCATIONS_DESCRIPTIONS')}
        .col-lg-4.col-sm-6.col-md-6
            .process-block
              img.img-fluid(src='https://image.flaticon.com/icons/svg/1063/1063062.svg' alt='')
              h3 #{__('ABOUT_US_VALUE')}
              p #{__('ABOUT_US_VALUE_DESCRIPTION')}
      
  section.section.bg-grey
    .container    
      .row.justify-content-center.p-5
        h1.title #{__('ABOUT_US_MANAGEMENT_TEAM')}
          br
          small #{__('ABOUT_US_KAAYMAN_SPECIALISTS')}
      .row.justify-content-center.px-md-7
        .col-lg-4.col-sm-6.col-md-6.pb-3
          .card-container
            .card
              .front
                .cover
                  img(src='/images/team/rotating_card_thumb2.png')
                .user
                  img.img-circle(src='/images/team/michael2.jpg')
                .content
                  .main
                    h3.name Michael Hammer
                    p.profession #{__('ABOUT_US_MICHAEL_POSITION')}
                  .footer
                    .social-links.text-xs-center
                      a.facebook(href='https://www.linkedin.com/in/michaelhammer/')
                        i.fab.fa-linkedin-in.fa-fw
                      a.google(href='https://www.xing.com/profile/Michael_Hammer11/cv')
                        i.fab.fa-xing.fa-fw
              .back
                .content
                  .main
                    p.text-xs-center #{__('ABOUT_US_MICHAEL_DESCRIPTION')}
                .footer
                  .social-links.text-xs-center
                    a.facebook(href='https://www.linkedin.com/in/michaelhammer/')
                      i.fab.fa-linkedin-in.fa-fw
                    a.google(href='https://www.xing.com/profile/Michael_Hammer11/cv')
                      i.fab.fa-xing.fa-fw
        .col-lg-4.col-sm-6.col-md-6
          .card-container
            .card
              .front
                .cover
                  img(src='/images/team/rotating_card_thumb.jpg')
                .user
                  img.img-circle(src='/images/team/carly.png')
                .content
                  .main
                    h3.name Carly Schone
                    p.profession #{__('ABOUT_US_CARLY_POSITION')}
                  .footer
                    .social-links.text-xs-center
                      a.facebook(href='https://www.linkedin.com/in/carlyschone/')
                        i.fab.fa-linkedin-in.fa-fw
              .back
                .header
                .content
                  .main
                    p.text-xs-center #{__('ABOUT_US_CARLY_DESCRIPTION')}
                .footer
                  .social-links.text-xs-center
                    a.facebook(href='https://www.linkedin.com/in/carlyschone/')
                      i.fab.fa-linkedin-in.fa-fw
        .col-lg-4.col-sm-6.col-md-6
          .card-container
            .card
              .front
                .cover
                  img(src='/images/team/rotating_card_thumb3.png')
                .user
                  img.img-circle(src='/images/team/boti.png')
                .content
                  .main
                    h3.name Botond Gagyi
                    p.profession #{__('ABOUT_US_BOTI_POSITION')}
                  .footer
                    .social-links.text-xs-center
                      a.facebook(href='https://www.linkedin.com/in/botondgagyi/')
                        i.fab.fa-linkedin-in.fa-fw
                      a.google(href='https://www.xing.com/profile/Botond_Gagyi')
                        i.fab.fa-xing.fa-fw
              // end front panel
              .back
                .header
                .content
                  .main
                    p.text-xs-center #{__('ABOUT_US_BOTI_DESCRIPTION')}
                .footer
                  .social-links.text-xs-center
                    a.facebook(href='https://www.linkedin.com/in/botondgagyi/')
                      i.fab.fa-linkedin-in.fa-fw
                    a.google(href='https://www.xing.com/profile/Botond_Gagyi')
                      i.fab.fa-xing.fa-fw

include partials/foot.pug