doctype html
html
  include partials/head.pug
  section#banner-approach.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 !{__('APPROACH_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('APPROACH_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#our-process.padding.py-5
    .container
      .row.d-flex
        .m-auto
          .heading-title.text-center.wow.fadeInUp(data-wow-delay='300ms')
            h2.darkcolor.bottom20.text-capitalize !{__('APPROACH_TERTIARY_TITLE')}
            p.bottom0 #{__('APPROACH_DESCRIPTION_1')}

      .row.align-items-center.d-flex
        .m-auto
          svg#approach-animation.img-responsive
 
      .row
        .col-lg-6.offset-lg-3.col-md-8.offset-md-2
          .heading-title.text-center.wow.fadeInUp(data-wow-delay='300ms')
            h2.darkcolor.bottom20.text-capitalize(style="font-size:1.04rem") #{__('APPROACH_DESCRIPTION_2')}
            p.bottom0 #{__('APPROACH_DESCRIPTION_3')}

include partials/foot.pug