doctype html
html
    include partials/head.pug
    section#banner-carrier.banner-area.py-5
      .overlay
      .container
        .row.align-items-center.justify-content-center
          .col-md-12.col-lg-8
            .banner-content.text-center.text-lg-left
              h1.display-4.mb-4 !{__('CAREERS_PRIMARY_TITLE')}
              p.lead.mb-5 #{__('CAREERS_SECONDARY_TITLE')}
          .col-lg-4.pr-8

    section#single-project.section
      .container
        .row.justify-content-center.mb-4
          .col-md-8.col-lg-6.text-center
            h2.section-title.mb-2 #{job_title}
        .row.job
          .div
            h5.job-main-description #{__('CAREERS_DESCRIPTION')}
            p.job-main-description !{job_description}
        .row.job
          .div
            h5.job-main-description #{__('CAREERS_JOB_REQUIREMENTS')}
            .div.job-requirements
                ul
                each requirement in job_requirements
                    li= requirement
        .row.job
          .div
            h5.job-main-description #{__('CAREERS_TECHNICAL_REQUIREMENTS')}
            .div.job-requirements
              ul
                each requirement in job_technical_requirements
                    li= requirement
        .row.job
          .div
            h5.job-main-description #{__('CAREERS_OFFER')}
            .div.job-offer
              ul
                each benefit in job_offers
                    li= benefit

include partials/foot.pug