doctype html
html
    include partials/head.pug
    section#banner-carrier.banner-area.py-5
      .overlay
      .container
        .row.align-items-center.justify-content-center
          .col-md-12.col-lg-8
            .banner-content.text-center.text-lg-left
              h1.display-4.mb-4 !{__('CAREERS_PRIMARY_TITLE')}
              p.lead.mb-5 #{__('CAREERS_SECONDARY_TITLE')}
          .col-lg-4.pr-8

    section#process.section.mb-5
     .container
      .row.justify-content-center.mb-4
        .col-md-8.col-lg-6.text-center
          h2.section-title.mb-2 #{__('CAREERS_JOB_OPENINGS')}
          a(href="mailto:become@kaayman.de?subject=Apply for the ... position")
           p.mb-5 #{__('CAREERS_APPLY_FOR_POSITION')} #{__('CAREERS_APPLY_FOR_POSITION_EMAIL')}
      .row.justify-content-center.m-lg-5
        .col-lg-4.col-sm-6.col-md-6
          .job-opening-block
            a(href="careers/junior-cobol-developer")
            img.img-fluid(src='images/carrer/job7.jpg' alt='')
            h3 #{__('CAREERS_COBOL_DEVELOPER')}
            .job-item_description
              | #{__('CAREERS_CAREER_LEVEL')}: <b> #{__('CAREERS_CAREER_LEVEL_JUNIOR')}</b>
              br
              | #{__('CAREERS_JOB_TYPE')}: <b> #{__('CAREERS_MAINFRAME_DEVELOPER')} </b>
              br
              | #{__('SHARED_CITY')}: <b> #{__('SHARED_CITY_CLUJ')} </b>
        .col-lg-4.col-sm-6.col-md-6
          .job-opening-block
            a(href="careers/senior-cobol-developer")
            img.img-fluid(src='images/carrer/job9.jpg' alt='')
            h3 #{__('CAREERS_COBOL_MAINFRAME_DEVELOPER')}
            .job-item_description
              | #{__('CAREERS_CAREER_LEVEL')}: <b> #{__('CAREERS_CAREER_LEVEL_SENIOR')}</b>
              br
              | #{__('CAREERS_JOB_TYPE')}: <b> #{__('CAREERS_MAINFRAME_DEVELOPER')} </b>
              br
              | #{__('SHARED_CITY')}: <b> #{__('SHARED_CITY_CLUJ')} </b>

include partials/foot.pug