doctype html
html
    include partials/head.pug
    section#banner-carrier.banner-area.py-5
      .overlay
      .container
        .row.align-items-center.justify-content-center
          .col-md-12.col-lg-8
            .banner-content.text-center.text-lg-left
              h1.display-4.mb-4
                | Your Career
                <br>
                | Starts With
                <br>
                | Us.
              p.lead.mb-5
                | Quick and easy online application at Kaayman
          .col-lg-4.pr-8

    section#single-project.section
      .container
        .row.justify-content-center.mb-4
          .col-md-8.col-lg-6.text-center
            h2.section-title.mb-2
              | Senior Cobol Mainframe Developer
        .row.job
          .div
            h5.job-main-description
              | Description
            p.job-main-description
              | Our client is a well known multinational. Their focus is to provide software solutions which guides users through the process of internal activities such as performance. This solution is used by companies varying from mid size organisations till large enterprises. In modus operandi this means the processes are complex and much data is used for reporting purposes.
            p.job-main-description
              | Our assignment is to take over further maintenance of their systems so we can pave the first steps towards future migrations and modernisation. We expect the project duration to be longer than one year.
        .row.job
          .div
            h5.job-main-description
              | Job Requirements
            .div.job-requirements
              ul
                li
                  | Strong german and english language skills (reading, writing)
                li
                  | Ability to travel (up to 20%)
                li
                  | Able to work independently
                li
                  | Experience in HR market would be a plus however experience in Automotive and/or Finance/Banking is accepted also
                li
                  | Flexible and ambition to become key person in Kaayman
        .row.job
          .div
            h5.job-main-description
              | Technical Job Requirements
            .div.job-requirements
              ul
                li
                  | Minimum of 4 years of experience in COBOL (z/OS or Microfocus) and/or another language (Rexx/PL1/Assembler)
                li
                  | Familiar with BATCH (JCL) and/or online (CICS, IMS DC), as well as MQSERIES, UCC/UCS, CD
                li
                  | zOS and/or iOS Environments
                li
                  | Familiar with modern development tools (JIRA & confluence, MF workbench, RDz)
                li
                  | DB2/SQL knowledge and/or IMS DB
                li
                  | Proficient with Microsoft Office Suite                  
        .row.job
          .div
            h5.job-main-description
              | What We Offer
            .div.job-offer
              ul
                li
                  | Friendly environment suited for professional and personal development
                li
                  | Permanent contract
                li
                  | Various career paths within the company
                li
                  | Trainings and certifications
                li
                  | Challenging projects
                li
                  | Work remote
                li
                  | Attractive salary                                                    
        //- .row.justify-content-center
        //-       .div
        //-         h5.eam-column-title
        //-         | Job Requirements
        //-         .project-single-info
        //-           ul
        //-             li
        //-               | Development of strategic-technical target images and, if necessary, transformation roadmaps
        //-             li
        //-               | Orientation, coordination and creation of transparency
        //-             li
        //-               | Identification of potentials for IT harmonization and IT consolidation
        //-     .row.justify-content-center
        //-       .div
        //-         h5.eam-column-title Technical Job Requirements
        //-         .project-single-info
        //-           ul
        //-             li
        //-               | Realization of the technical potential through integration of different technologies
        //-             li
        //-               | Long-term target architectures ensure investment protection, reduced complexity and risk
        //-             li
        //-               | Avoidance of "double buildings“
        //-             li
        //-               | Cost-efficient operability               
                             


include partials/foot.pug