doctype html
html
  include partials/head.pug
  section#banner-circular-economy.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4
              | Circular Economy
            p.lead.mb-5
              | We make our customers fit for the digital transformation.
        .col-lg-4.pr-8

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center.mt50
            .col-lg-6
              .project-info
                h3 Market Strategy
                p
                  | Industrial models like circular economy are getting more and more reliable and effective when it comes to restore and regenerate. Only looking at re-usage, recycling and re-design of products or materials have a huge impact on consumer strategy and maintenance of a clean environment.
                ul
                  li
                    h5 Research
                  li
                    h5 Prototyping
                  li
                    h5 Design & develop
                  li
                    h5 Launch
            .col-lg-6
              img.img-fluid(src='assets/img/home/circular-economy.png' alt='')

include partials/foot.pug