doctype html
html
    include partials/head.pug
    section#banner.banner-area.py-5
      .overlay
      .container
        .row.align-items-center.justify-content-center
          .col-md-12.col-lg-8
            .banner-content.text-center.text-lg-left
              h1.display-4.mb-4 #{__('CONTACT_PRIMARY_TITLE')}
              p.lead.mb-5 #{__('CONTACT_SECONDARY_TITLE')}
          .col-lg-4.pr-8
              .container
                      .row.justify-content-center
                        .col-lg-12.col-sm-6.col-md-6
                          .contact-info-block.text-center
                            h4 #{__('CONTACT_OFFICES')}
                            p.lead(data-toggle="tooltip" data-html="true" data-placement="left" data-delay='{"hide":"1000"}' title="<em><b>Address:</b></em> Calea Moților 63, Cluj-Napoca 400000, RO <br> <em><b>Phone:</b></em> +49-1704853770") München
                            p.lead(data-toggle="tooltip" data-html="true" data-placement="left" data-delay='{"hide":"1000"}' title="<em><b>Address:</b></em> Calea Moților 63, Cluj-Napoca 400000, RO <br> <em><b>Phone:</b></em> +49-1704853770") Cluj-Napoca
                            p.lead(data-toggle="tooltip" data-html="true" data-placement="left" data-delay='{"hide":"1000"}' title="<em><b>Address:</b></em> Calea Moților 63, Cluj-Napoca 400000, RO <br> <em><b>Phone:</b></em> +49-1704853770") Gold Coast
                        .col-lg-12.col-sm-6.col-md-6
                          .contact-info-block.text-center
                            h4 #{__('CONTACT_PHONE_NUMBER')}
                            p.lead +49-1704853770
    
    section#contact.section.bg-grey
      .container
        .row.mb-4
          .col-md-8.col-lg-12 #{__('CONTACT_LEAVE_A_MESSAGE')}
            h2.section-title.mb-2 #{__('CONTACT_TELL_US_ABOUT')}
              span.font-weight-normal #{__('CONTACT_YOURSELF')}
            p.mb-5 #{__('CONTACT_TELL_US_ABOUT_DESCRIPTION')}
        .row
          .col-lg-12
            .row
              .col-12
                .alert.alert-success.contact__msg(style='display: none' role='alert') #{__('CONTACT_MESSAGE_SENT_SUCCESSFULLY')}
            form.contact_form(action='mail.php')
              .row
                .col-sm-6.mb-6
                  .form-group
                    label.h6.small.d-block.text-uppercase #{__('CONTACT_YOUR_NAME')}
                      span.text-danger *
                    .input-group
                      input#name.form-control(name='name' required='' placeholder='' type='text')
                .col-sm-6.mb-6
                  .form-group
                    label.h6.small.d-block.text-uppercase #{__('CONTACT_YOUR_EMAIL')}
                      span.text-danger *
                    .input-group
                      input#email.form-control(name='email' required='' placeholder='' type='email')
                .w-100
                .col-sm-6.mb-6
                  .form-group
                    label.h6.small.d-block.text-uppercase #{__('CONTACT_SUBJECT')}
                      span.text-danger *
                    .input-group
                      select#subject.custom-select.form-control(name='subject' required='' placeholder='' type='select')
                        option(value="others") Others
                        option(value="partnership") Partnership
                        option(value="charity") Charity
                        option(value="sales") Sales
                        option(value="career") Career

                .col-sm-6.mb-6
                  .form-group
                    label.h6.small.d-block.text-uppercase #{__('CONTACT_YOUR_PHONE_NUMBER')}
                      span.text-danger *
                    .input-group
                      input#phone.form-control(name='phone' required='' placeholder='' type='text')
              .form-group.mb-5
                label.h6.small.d-block.text-uppercase #{__('CONTACT_HOW_CAN_WE_HELP_YOU')}
                  span.text-danger *
                .input-group
                  textarea#message.form-control(rows='4' name='message' required='' placeholder='')
              div
                input.btn.btn-primary.btn-circled(name='submit' type='submit' value='Send Message')
                p.small.pt-3 #{__('CONTACT_WELL_GET_BACK_TO_YOU')}
include partials/foot.pug