doctype html
html
  include partials/head.pug
  section#banner-factory.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('DEVELOPMENT_FACTORY_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('DEVELOPMENT_FACTORY_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#process.kaayman-services.section.pt-0.bg-grey
    .container
      .row.heading.heading-icon.p-5
        h2 #{__('SERVICES_METHODOLOGICAL_TECHNICAL_EXCELLENCE')}
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.security-and-complaince.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
                a(href='security-and-compliance') #{__('SERVICES_SECURITY_COMPLIANCE')}
          .card-overlay
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.project-management.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
                a(href='project-management') #{__('SERVICES_PROJECT_MANAGEMENT')}
          .card-overlay
        li.col-12.col-md-5.col-lg-5
          .cnt-block.it-sourcing-and-transformation.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
                a(href='it-sourcing-and-transformation') #{__('SERVICES_IT_SOURCING_TRANSFORMATION')}
          .card-overlay

include partials/foot.pug