doctype html
html
  include partials/head.pug
  section#banner-digital-transformation.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 !{__('DIGITAL_TRANSFORMATION_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('DIGITAL_TRANSFORMATION_SECONDARY_TITLE')}
        .col-lg-4

  section.section.services.pt-0.pb-2.secondary-navigation.bg-grey
      .container
        nav
          #nav-tab.nav.nav-tabs.navbar.bg-primary.flex-column.flex-sm-row.justify-content-around(role='tablist')
            a#nav-strategy-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-strategy' role='tab' aria-controls='nav-strategy' aria-selected='true') #{__('DIGITAL_TRANSFORMATION_SEVEN_QUESTIONS')}
           
  section#pricing-2.section.digital-transformation-services.bg-grey
    .container
      .row.justify-content-center
        .col-lg-4.col-sm-6.col-md-6.p-0
         a.service-box-href(href="outsourcing-services")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_1')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_OUTSOURCING_SERVICE')}
        .col-lg-4.col-sm-6.col-md-6.p-0
         a.service-box-href(href="consulting-services")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_2')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_CONSULTING_SERVICE')}
        .col-lg-4.col-sm-8.col-md-6.p-0
         a.service-box-href(href="development-factory")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_3')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_DEVELOPMENT_FACTORY')}
      .row.justify-content-center
        .col-lg-6.col-sm-6.col-md-6.p-0
         a.service-box-href(href="consulting-services")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_4')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_CONSULTANCY_DEVELOPMENT')}
        .col-lg-6.col-sm-6.col-md-6.p-0
         a.service-box-href(href="consulting-services")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_5')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_CONSULTING_OUTSOURCING')}
      .row.justify-content-center
        .col-lg-6.col-sm-6.col-md-6.p-0
         a.service-box-href(href="consulting-services")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_6')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_CONSULTING_SERVICE')}
        .col-lg-6.col-sm-6.col-md-6.p-0
         a.service-box-href(href="consulting-services")
          .service-box
            .service-box-content
              p #{__('DIGITAL_TRANSFORMATION_QUESTION_7')}
            .service-box-tail.d-flex
              i.fas.fa-arrow-circle-right
              p
                | #{__('DIGITAL_TRANSFORMATION_USE_OUR')}
                br
                span #{__('DIGITAL_TRANSFORMATION_CONSULTING_SERVICE')}

include partials/foot.pug