doctype html
html
  include partials/head.pug
  section#banner-enterprise-architecture.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('ENTERPRISE_ARCHITECTURE_MANAGEMENT_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('ENTERPRISE_ARCHITECTURE_MANAGEMENT_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center
            .div
              p.eam-main-description #{__('ENTERPRISE_ARCHITECTURE_DESCRIPTION_PART_1')}
              p.eam-main-description #{__('ENTERPRISE_ARCHITECTURE_DESCRIPTION_PART_2')}
          .row.justify-content-center
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_DEVELOPMENT_FACTORY')}
              .project-single-info
                ul
                  li #{__('ENTERPRISE_ARCHITECTURE_DEVELOPMENT_FACTORY_OPTION_1')}
                  li #{__('ENTERPRISE_ARCHITECTURE_DEVELOPMENT_FACTORY_OPTION_2')}
                  li #{__('ENTERPRISE_ARCHITECTURE_DEVELOPMENT_FACTORY_OPTION_3')}
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_CUSTOMER_VALUE')}
              .project-single-info
                ul
                  li #{__('ENTERPRISE_ARCHITECTURE_CUSTOMER_OPTION_1')}
                  li #{__('ENTERPRISE_ARCHITECTURE_CUSTOMER_OPTION_2')}
                  li #{__('ENTERPRISE_ARCHITECTURE_CUSTOMER_OPTION_3')}
                  li #{__('ENTERPRISE_ARCHITECTURE_CUSTOMER_OPTION_4')}
    
  section#process.our-webcoderskull.section.pt-0.bg-grey
    .container
      .row.heading.heading-icon.p-5
        h2 #{__('SHARED_RELATED_AREAS')}
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.agile-enablement.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='agile-enablement') #{__('SERVICES_AGILE_ENABLEMENT')}
          .card-overlay
        li.col-12.col-md-5.col-lg-5
          .cnt-block.tools-and-technologies.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='modern-technologies-tools') #{__('SERVICES_MODERN_TOOLS_TECHNOLOGIES')}
          .card-overlay

include partials/foot.pug