doctype html
html
  include partials/head.pug
  section#banner-home.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('Home_Primary_Title')}
            p.lead.mb-5 #{__('Home_Secondary_Title')}
        .col-lg-4
include partials/foot.pug