doctype html
html
  include partials/head.pug
  section#banner-evaluation.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4
              | Evaluation Package
            p.lead.mb-5.f-2(style="font-size:1.3rem")
              | Where it all starts
        .col-lg-4.pr-8
        
  section.section.services.pt-0.pb-2.secondary-navigation.bg-grey
      .container
        nav
          #nav-tab.nav.nav-tabs.navbar.bg-primary.flex-column.flex-sm-row.justify-content-around(role='tablist')
            a#nav-strategy-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-strategy' role='tab' aria-controls='nav-strategy' aria-selected='true') 
       

  section#service.bg-grey
    .container
      .row
        .col-lg-4.d-none.d-lg-block
          .service-img
            img.img-fluid(src='/images/evaluation/start.jpg' alt='' style="    height: 544px;")
        .col-lg-7.pl-4
          .service-content
            h1 Let's get to know each other
            p
              | The evaluation package is a great starting point. It will be focussed, result driven, within a short timeframe & with no/ minimal cost from your side. Each package covers one topic you choose with tengible results to use.
      .row
        .col-lg-4
        .col-lg-7.pl-4.time-frame-bar.d-flex.m-auto
          .m-auto
           | STANDARD TIMEFRAME - 2-7 days (on-site)
  section.pt-5.service-wrap
    .container
        .row
            .col-lg-8.offset-lg-4
                #service-carousel.carousel.slide(data-ride='carousel')
                 .carousel-inner
                    .carousel-item.active
                     .col-lg-12
                        .row
                          .col-lg-4
                            .service-block.media
                             .service-icon
                                 i.ti-reload
                             .service-inner-content.media-body
                                .d-flex
                                  h4.m-auto
                                   | Feasability check
                                .d-flex(style="height:102px;")
                                  p.m-auto(style="text-align: center")
                                    | and review of existing digital strategy & approach.
                          .col-lg-4
                            .service-block.media
                              .service-icon
                                i.ti-cloud
                              .service-inner-content.media-body
                                .d-flex
                                  h4.m-auto
                                   | Evaluation
                                .d-flex(style="height:102px;")
                                  p.m-auto(style="text-align: center")
                                   | of modernization possibilities (shifting to new technologies).
                          .col-lg-4
                            .service-block.media
                              .service-icon
                                i.ti-cloud
                              .service-inner-content.media-body
                                .d-flex
                                  h4.m-auto
                                   | Other
                                .d-flex(style="height:102px;")
                                  p.m-auto(style="text-align: center")
                                    | matters that will be mutualy agreed on.
                    //- .carousel-item
                    //-  .col-lg-12
                    //-   .row
                    //-    .col-lg-6
                    //-     .service-block.media
                    //-      .service-icon
                    //-         i.ti-world
                    //-      .service-inner-content.media-body
                    //-         h4 Other
                    //-         p topics mutualy to be agreed on.

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center
            .col-lg-6
              .div.d-flex
                h5.eam-column-title
                  i.fas.fa-sort-alpha-down.fa-3x.d-block.m-auto
                  div.mt-2
                   h3
                    | Methods
              .project-single-info.d-flex
                ul.m-auto
                  li
                    | Documents Study
                  li
                    | Interviews
                  li
                    | Workshops (2hours to 2 days) based on agreed topics
            .col-lg-6
              .div.d-flex
                h5.eam-column-title
                  i.fas.fa-tasks.fa-3x.d-block.m-auto
                  div.mt-2
                   h3
                    | Outcome
              .project-single-info.d-flex
                ul.m-auto
                  li
                    | Findings Document
                  li
                    | Management Summary
                  li
                    | Next Step Scenario

include partials/foot.pug