doctype html
html
  include partials/head.pug
  section#banner-home.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('Home_Primary_Title')}
            p.lead.mb-5 #{__('Home_Secondary_Title')}
        .col-lg-4
  
  section.section.services.pt-0.pb-2.secondary-navigation.bg-grey
    .container
      nav
        #nav-tab.nav.nav-tabs.navbar.bg-primary.flex-column.flex-sm-row.justify-content-around(role='tablist')
          a#nav-strategy-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-strategy' role='tab' aria-controls='nav-strategy' aria-selected='true') #{__('HOME_MARKET_STRATEGY')}
          a#nav-future-tab.nav-item.nav-link(data-toggle='tab' href='#nav-future' role='tab' aria-controls='nav-future' aria-selected='false') #{__('HOME_READY_FOR_THE_FUTURE')}
          a#nav-evaluation-tab.nav-item.nav-link(data-toggle='tab' href='#nav-evaluation' role='tab' aria-controls='nav-evaluation' aria-selected='false') #{__('HOME_EVALUATION')}
      #nav-tabContent.tab-content
        #nav-strategy.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-strategy-tab')
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              a(href="circular-economy")
                .card.flex-md-row.mb-4.shadow-sm.h-md-250
                  .card-body.d-flex.flex-column.align-items-start
                    h3.mb-0.text-dark #{__('HOME_CIRCULAR_ECONOMY')}
                    p.card-text.mb-auto #{__('HOME_CIRCULAR_ECONOMY_DESCRIPTION')}
                    p.card-text #{__('SHARED_CONTINUE_READING')}
                  img.d-none.d-lg-block(src='/images/home/circular-economy-3.jpg' alt='Card image cap')
            .p-1.home-card
        #nav-future.tab-pane.fade(role='tabpanel' aria-labelledby='nav-future-tab')
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='outsourcing-services') #{__('DIGITAL_TRANSFORMATION_QUESTION_1')}
                  p.card-text.mb-auto
                  a(href='outsourcing-services') #{__('SHARED_CONTINUE_READING')}
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='consulting-services') #{__('DIGITAL_TRANSFORMATION_QUESTION_2')}
                  p.card-text.mb-auto
                  a(href='outsourcing-services') #{__('SHARED_CONTINUE_READING')}
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='development-factory') #{__('DIGITAL_TRANSFORMATION_QUESTION_3')}
                  p.card-text.mb-auto
                  a(href='development-factory') #{__('SHARED_CONTINUE_READING')}
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='consulting-services') #{__('DIGITAL_TRANSFORMATION_QUESTION_4')}
                  p.card-text.mb-auto
                  a(href='consulting-services') #{__('SHARED_CONTINUE_READING')}
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='consulting-services') #{__('DIGITAL_TRANSFORMATION_QUESTION_5')}
                  p.card-text.mb-auto
                  a(href='consulting-services') #{__('SHARED_CONTINUE_READING')}
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='consulting-services') #{__('DIGITAL_TRANSFORMATION_QUESTION_6')}
                  p.card-text.mb-auto
                  a(href='consulting-services') #{__('SHARED_CONTINUE_READING')}
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              .card.future.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0
                    a.text-dark(href='consulting-services') #{__('DIGITAL_TRANSFORMATION_QUESTION_7')}
                  p.card-text.mb-auto
                  a(href='consulting-services') #{__('SHARED_CONTINUE_READING')}

        #nav-evaluation.tab-pane.fade(role='tabpanel' aria-labelledby='nav-evaluation-tab')
          .d-flex.flex-row.p-1.justify-content-around.flex-wrap.flex-md-nowrap
            .p-1.home-card
              a(href='evaluation-package')
               .card.flex-md-row.mb-4.shadow-sm.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  h3.mb-0.text-dark #{__('HOME_EVALUATION_PACKAGE')}
                  p.card-text.mb-auto #{__('HOME_EVALUATION_PACKAGE_DESCRIPTION')}
                  p.card-text #{__('SHARED_CONTINUE_READING')}
                img.card-img-right.flex-auto.d-none.d-lg-block(src='/images/evaluation/start.jpg' alt='Card image cap')
            .p-1.home-card
 
include partials/foot.pug