doctype html
html
  include partials/head.pug
  section#banner-sourcing-transformation.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('IT_SOURCING_TRANSFORMATION_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('IT_SOURCING_TRANSFORMATION_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center
            .div
              p.eam-main-description #{__('IT_SOURCING_TRANSFORMATION_DESCRIPTION')}
          .row.justify-content-center
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_CONSULTING_SERVICES')}
              .project-single-info
                ul
                  li #{__('IT_SOURCING_TRANSFORMATION_CONSULTING_OPTION_1')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CONSULTING_OPTION_2')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CONSULTING_OPTION_3')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CONSULTING_OPTION_4')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CONSULTING_OPTION_5')}
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_CUSTOMER_VALUE')}
              .project-single-info
                ul
                  li #{__('IT_SOURCING_TRANSFORMATION_CUSTOMER_OPTION_1')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CUSTOMER_OPTION_2')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CUSTOMER_OPTION_3')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CUSTOMER_OPTION_4')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CUSTOMER_OPTION_5')}
                  li #{__('IT_SOURCING_TRANSFORMATION_CUSTOMER_OPTION_6')}
    
  section#process.our-webcoderskull.section.pt-0.bg-grey
      .container
        .row.heading.heading-icon.p-5
          h2 #{__('SHARED_RELATED_AREAS')}
        ul.row.d-flex.justify-content-around
          li.col-12.col-md-5.col-lg-5
            .cnt-block.project-management.equal-hight.d-flex(style='height: 349px;')
              h3.m-auto
                a(href='project-management') #{__('SERVICES_PROJECT_MANAGEMENT')}
          li.col-12.col-md-5.col-lg-5
            .cnt-block.security-and-complaince.equal-hight.d-flex(style='height: 349px;')
              h3.m-auto
                a(href='security-and-compliance.html') #{__('SERVICES_SECURITY_COMPLIANCE')}

include partials/foot.pug