doctype html
html
  include partials/head.pug
  section#banner-modern-tools.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('MODERN_TECHNOLOGIES_TOOLS_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('MODERN_TECHNOLOGIES_TOOLS_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center
            .div
              p.eam-main-description #{__('MODERN_TECHNOLOGIES_TOOLS_DESCRIPTION')}
          .row.justify-content-center
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_DEVELOPMENT_SERVICES')}
              .project-single-info
                ul
                  li #{__('MODERN_TECHNOLOGIES_TOOLS_DEVELOPMENT_FACTORY_OPTION_1')}
                  li #{__('MODERN_TECHNOLOGIES_TOOLS_DEVELOPMENT_FACTORY_OPTION_2')}
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_CUSTOMER_VALUE')}
              .project-single-info
                ul
                  li #{__('MODERN_TECHNOLOGIES_TOOLS_CUSTOMER_OPTION_1')}
                  li #{__('MODERN_TECHNOLOGIES_TOOLS_CUSTOMER_OPTION_2')}
                  li #{__('MODERN_TECHNOLOGIES_TOOLS_CUSTOMER_OPTION_3')}
    
  section#process.our-webcoderskull.section.pt-0.bg-grey
    .container
      .row.heading.heading-icon.p-5
        h2 #{__('SHARED_RELATED_AREAS')}
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.enteprise-architecture.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='enterprise-architecture-management') #{__('SERVICES_ENTERPRISE_ARCHITECTURE_MANAGEMENT')}
        li.col-12.col-md-5.col-lg-5
          .cnt-block.agile-enablement.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='agile-enablement') #{__('SERVICES_AGILE_ENABLEMENT')}

include partials/foot.pug