doctype html
html
  include partials/head.pug
  section#banner-organizational-enablement.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('ORGANIZATIONAL_ENABLEMENT_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('ORGANIZATIONAL_ENABLEMENT_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center
            .div
              p.eam-main-description #{__('ORGANIZATIONAL_ENABLEMENT_DESCRIPTION')}
          .row.justify-content-center
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_DEVELOPMENT_FACTORY')}
              .project-single-info
                ul
                  li #{__('ORGANIZATIONAL_ENABLEMENT_DEVELOPMENT_OPTION_1')}
                  li #{__('ORGANIZATIONAL_ENABLEMENT_DEVELOPMENT_OPTION_2')}
                  li #{__('ORGANIZATIONAL_ENABLEMENT_DEVELOPMENT_OPTION_3')}
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_CUSTOMER_VALUE')}
              .project-single-info
                ul
                  li #{__('ORGANIZATIONAL_ENABLEMENT_CUSTOMER_OPTION_1')}
                  li #{__('ORGANIZATIONAL_ENABLEMENT_CUSTOMER_OPTION_2')}
    
include partials/foot.pug