doctype html
html
  include partials/head.pug
  section#banner-outsourcing.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('OUTSOURCING_SERVICE_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('OUTSOURCING_SERVICE_SECONDARY0_TITLE')}
        .col-lg-4.pr-8

  section#process.kaayman-services.section.pt-0.bg-grey
    .container
      .row.heading.heading-icon.p-5
        h2 #{__('SERVICES_FUNCTIONAL_EXCELLENCE')}
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.enteprise-architecture.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='enterprise-architecture-management') #{__('SERVICES_ENTERPRISE_ARCHITECTURE_MANAGEMENT')}
          .card-overlay
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.tools-and-technologies.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='modern-technologies-tools') #{__('SERVICES_MODERN_TOOLS_TECHNOLOGIES')}
          .card-overlay
        li.col-12.col-md-5.col-lg-5
          .cnt-block.agile-enablement.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='agile-enablement') #{__('SERVICES_AGILE_ENABLEMENT')}
          .card-overlay

include partials/foot.pug