doctype html
html
  include partials/head.pug
  section#banner-team-augmentation.banner-area.py-5
    .overlay
    .container
      .row.align-items-center.justify-content-center
        .col-md-12.col-lg-8
          .banner-content.text-center.text-lg-left
            h1.display-4.mb-4 #{__('TEAM_AUGMENTATION_PRIMARY_TITLE')}
            p.lead.mb-5 #{__('TEAM_AUGMENTATION_SECONDARY_TITLE')}
        .col-lg-4.pr-8

  section#single-project.section
    .container
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-center
            .div
              p.eam-main-description #{__('TEAM_AUGMENTATION_DESCRIPTION')}
          .row.justify-content-center
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_TEAM_AUGMENTATION_SERVICES')}
              .project-single-info
                ul
                  li #{__('TEAM_AUGMENTATION_SERVICES_OPTION_1')}
                  li #{__('TEAM_AUGMENTATION_SERVICES_OPTION_2')}
            .col-lg-6
              .div.d-flex
                h5.eam-column-title #{__('SERVICES_CUSTOMER_VALUE')}
              .project-single-info
                ul
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_1')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_2')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_3')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_4')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_5')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_6')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_7')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_8')}
                  li #{__('TEAM_AUGMENTATION_CUSTOMER_OPTION_9')}

  section#process.our-webcoderskull.section.pt-0.bg-grey
    .container
      .row.heading.heading-icon.p-5
        h2 #{__('SHARED_RELATED_AREAS')}
      ul.row.d-flex.justify-content-around
        li.col-12.col-md-5.col-lg-5
          .cnt-block.application-operation.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='application-operation') #{__('SERVICES_TRAINING_APP_OPERATION')}
        li.col-12.col-md-5.col-lg-5
          .cnt-block.application-lifecycle-management.equal-hight.d-flex(style='height: 349px;')
            h3.m-auto
              a(href='application-lifecycle-management') #{__('SERVICES_TRAINING_APP_LIFECYCLE_MANAGEMENT')}

include partials/foot.pug