/** --------------------------------------------------
Author       : Dreambuzz
Template Name: Rapoo - it solution landing template
Author URI : https://themeforest.net/user/dreambuzz/portfolio
Description: Rapoo,it, onepage,clean,bootstrap4, 
Description: Rapoo,it, onepage,clean,bootstrap4, responsive,modern,agency,landing template.
Version      : 1.0
* -------------------------------------------------  */

/*-----------------------------
 CSS INDEXING
* --------------------------------------
* 01.GLOBAL CSS STYLE
* 02.TYPOGRAPHY CSS STYLE
* 03.BUTTONS STYLE
* 04.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
    -BACKGROUND
* 05.FEATURES CSS STYLE
* 06.SERVICE CSS STYLE
* 07.ABOUT CSS STYLE
* 08.PRICING CSS STYLE
* 09.TESTIMONIAL STYLE
* 10.LATEST BLOG CSS STYLE
* 11.CONTACT CSS STYLE
* 12.FOOTER CSS STYLE
* ----------------------------------------
*/


@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900');



html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    line-height: 1.75;
    margin: 0;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
    color: #6c757d;
}

/*--------------------
 TYPOGRAPHY
-----------------*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #506A85;
}

.bg-white {
    background-color: white;
}

.h1,
h1 {
    font-size: 2.125rem;
    line-height: 40px;
}

.h2,
h2 {
    font-size: 1.625rem;
}

.h3,
h3 {
    font-size: 1.375rem;
}

.h4,
h4 {
    font-size: 1.125rem;
}

.h5,
h5 {
    font-size: .9375rem;
}

.h6,
h6 {
    font-size: .75rem;
}

.lead {
    font-size: 1.0625rem;
    font-weight: 300;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}


@media (max-width:767.98px) {
    h1 {
        font-size: 1.5rem
    }

    h2 {
        font-size: 1.375rem
    }

    h3 {
        font-size: 1.25rem
    }

    h4 {
        font-size: 1.125rem
    }

    h5 {
        font-size: .9375rem
    }

    h6 {
        font-size: .75rem
    }
}


p {
    margin-bottom: 0px;
    font-size: 15px;
}

a {
    color: #232323;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.mb-6 {
    margin-bottom: 2rem !important;
}

.section-heading {
    margin-bottom: 80px;
}

.section-heading p {
    margin-bottom: 0px !important;
}

/*--------------------
CONTACT US
-----------------*/
section.contact-us a {
    margin: auto;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    background-color: #232323;
    color: white;
    text-align: center;
    padding-top: 1rem;
}

section.contact-us a:hover,
section.contact-us a:active {
    background-color: #232323;
    color: #21c87a;
}

a.btn:hover {
    background-color: #232323;
    color: #21c87a;
}

/*--------------------

------------------*/

img {
    vertical-align: middle;
    border-style: none;

}

.img-thumbnail {
    padding: .25rem;
    border: 1px solid #dee2e6;
    background-color: #fff
}


.section {
    position: relative;
    padding: 8.125rem 0;
}

@media (min-width:768px) {
    .section {
        padding: 3rem 0
    }
}

.section-top {
    padding-top: 8.125rem;
}

.section-bottom {
    padding-bottom: 8.125rem;
}

@media (min-width:768px) {
    .section-top {
        padding-top: 10.3125rem
    }
}


.bg-grey {
    background: #F4F7FC;
}

/*-------------------
  BUTTONS STYLE
----------------=----*/

.btn {
    font-size: .6875rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 1.2rem 2.7rem;
    border: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;
    letter-spacing: .5px
}



.btn-circle {
    display: inline-flex;
    width: 4.20313rem !important;
    height: 4.20313rem !important;
    padding: 0 !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center
}


.btn-outline-dark {
    border: 1px solid#222;
}

.btn-white {
    background: #fff;
    color: #212529;
}

.btn-trans-white {
    border: 1px solid#fff;
    color: #fff;
}

.btn-outline-dark:hover {
    background: #222 !important;
    color: #fff !important;
}

.btn.btn-link {
    color: #212529;
}

.btn:focus {
    box-shadow: none !important
}

.btn-circled {
    border-radius: 75px;
}


.bg-primary,
.btn-primary,
.btn-white:hover {
    background: #232323 !important;
    border-color: #232323 !important;
    color: #fff;
}

.bg-dark,
.btn-primary:hover {
    background: #232323 !important;
    border-color: #232323 !important;
    color: #fff;
}

/*-------------------
   MENU
----------------------*/

#navbarCollapse {
    width: auto;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    content: "";
    vertical-align: middle;
    background: no-repeat 50%;
    background-size: 100% 100%
}

.main-nav {
    margin-bottom: -32px;
    z-index: 999;
}

.navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
}

.navbar {
    position: relative;
    padding: 1rem 1rem;
    border-radius: 5px;
}

@media (min-width:1200px) {
    .navbar {
        height: 54px;
    }
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
}

.navbar:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity .15s linear;
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;

}

.navbar-dark {
    color: #fff;
}

.navbar-light::before {
    opacity: 1;
}

.navbar-light {
    color: #212529;
}


.navbar .nav-item-divider {
    display: none;
}

@media (min-width:1200px) {
    .navbar .nav-item-divider {
        display: block
    }
}

.navbar .nav-item-divider .nav-link {
    opacity: .25
}

.navbar .nav-item-divider .nav-link>span {
    border-left: 1px solid
}

@media (max-width:1199.98px) {
    .navbar .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        border: 0
    }
}

@media (min-width:1200px) {
    .navbar .dropdown-menu {
        transform: translateY(.5rem);
        opacity: 0
    }

    .navbar .dropdown-menu.show {
        animation: .2s forwards d
    }

    @keyframes d {
        to {
            transform: translateY(0);
            opacity: 1
        }
    }
}

/* 
.nav-item.dropdown .dropdown-menu {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    opacity: 0;
    top: 120%;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    border: 0px;
    padding: 0px;
    position: absolute;
}
*/

.nav-item {
    margin: auto;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    top: 100%;
}


.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #232323;

}

.header-bar.fixed-header .main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(20, 27, 40, .90);
    border-color: transparent;
}


/*-------------------
  DROPDOWN MENU
----------------------*/


.dropdown-menu {
    opacity: 0
}

.dropdown-menu.show {
    animation: .2s forwards b
}

@keyframes b {
    to {
        opacity: 1
    }
}

.dropdown-item {
    font-size: .6875rem;
    font-weight: 500;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background-color .1s;
    text-transform: uppercase
}

@media (min-width:1200px) {
    .dropdown-item {
        padding-top: .75rem;
        padding-bottom: .75rem
    }
}

@media (min-width:1200px) {
    .dropdown-item+.dropdown-item {
        border-top: 1px solid rgba(0, 0, 0, .1)
    }
}




/* ------------------------
Multi level navbar dropdown
------------------------
 */

.navbar .dropdown-toggle,
.navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
}

/*------------------------
 BACKGROUND
----------------------------*/


.bg-cover {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.bg-cover,
.bg-overlay,
.bg-overlay:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.bg-overlay:before {
    content: "";
    opacity: .55;
    background-color: #212529
}

.box-shadow {
    box-shadow: 0 25px 100px -5px rgba(0, 0, 0, .15)
}



/*----------------------
 HEADER STYLE
-----------------------*/

.header-socials {
    line-height: 22px;
    margin-bottom: 0px;
}

.header-socials li {
    padding: 8px;
}

.header-socials li a {
    color: #21c87a;
}


/*-----------------
 LOGO BAR
-------------------*/

.navbar-brand img {
    height: 4rem;
}

.logo-bar {
    padding: 0px 0px 45px;
}

.top-info {
    margin: auto;
    margin-right: 0;
}

.top-info-block {
    float: left;
    border-right: 1px solid rgba(196, 16, 23, 0.2);
    padding: .4rem 2rem .4rem 2rem;
}


.icon-block {
    margin-right: 20px;
    color: #232323;
    font-size: 40px;
    line-height: 20px;
    font-weight: 400;
}

.top-info-block h5,
.top-info-block a {
    font-size: 1.0rem;
    font-weight: 300;
    letter-spacing: .02rem;
    font-style: normal;
}

.info-block .dropdown-toggle::after {
    margin-left: 1rem;
}

.top-info-block:last-child {
    margin-right: 0px;
    border-right: none;
}

.dropdown-menu-top-info {
    min-width: 0;
    margin-left: -1rem;
    background-color: rgb(248, 249, 250);
}

.dropdown-menu-top-info>a {
    text-transform: none;
}

.header-bar {
    overflow: visible;
    position: relative;
    padding-bottom: 30px;
}

.main-navigation {
    margin-top: -40px;
}

a.search-btn {
    padding: .6rem 2.9rem;
}

a.search-btn:hover {
    padding-left: 60%;
    color: #21c87a;
    text-decoration: none;
}

/*---------------------
 Search Style
----------------------*/


/*----------------------
 BANNER STYLE
-----------------------*/

.pt-7 {
    padding: 7.5rem 0 0 0;
}

.py-7 {
    padding: 7.5rem 0;
}

.py-8 {
    padding: 8.5rem 0;
}

.pr-5 {
    padding-right: 5rem;
}

.pr-8 {
    padding-right: 8rem;
}

.px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
}



.main-banner h5 {
    margin-bottom: 20px;
}

.main-banner h1.display-4 {
    line-height: 65px;
}

.main-banner p.lead,
.banner-content p.lead {
    margin-bottom: 2.5rem !important;
}

a:hover {
    color: #21c87a;
    text-decoration: none;
}

/*----------------------
 SECODNARY NAVIGATION STYLE
-----------------------*/

.secondary-navigation .nav .nav-link {
    color: #fff;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.secondary-navigation .nav {
    padding-top: 0.3rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.secondary-navigation .nav .nav-link.active,
.secondary-navigation .nav .nav-link:hover {
    color: #21c87a;
    text-decoration: none;
    background-color: #232323;
    border: none;
}

.secondary-navigation .nav-item .nav-link:hover {
    color: black;
    /* margin-top: -80px; */
}


/*----------------------
 Services STYLE
-----------------------*/

section.section.services {
    position: unset;
    margin-top: -29px;
}

.services .card:hover a {
    /* color: #fff !important; */
}

.services .card:hover p {
    /* color: #eee; */
}

.services .card:hover {
    /* background: rgb(29, 28, 28);
    border-color: rgb(29, 28, 28); */
}

.services .card .btn {
    background: #fff !important;
    color: #000 !important;
}

.services .card {
    padding: 1rem;
    margin-bottom: -10px !important;
    height: 387px;
}

.services .card.future {
    height: 207px;
}

@media (max-width: 576px) {
    .services .card {
        padding: 1rem;
        margin-bottom: -10px !important;
        flex: 1;
        height: 270px;
    }
}

.services .card img {
    height: 207px;
    border-radius: .3rem;
}

.services .card img:hover {
    height: 247px;
}


.services .card h3 {
    font-size: 1.475rem;
}

.services .card .card-text {
    margin-top: 1rem;
    font-size: 16px;
}

.home-card {
    flex: 1;
}

/*----------------------
 FEATURE STYLE
-----------------------*/
.img-icon-block {
    position: relative;
}

.img-icon-block:before {
    position: absolute;
    content: "";
    top: -27px;
    background-color: #232323;
    opacity: .3;
    width: 80px;
    right: 70px;
    height: 80px;
    border-radius: 50%;
    z-index: 1;
}

.img-icon-block i {
    font-size: 58px;
    z-index: 2 !important;
    color: #333;
    position: relative;
}

/*----------------------
 SERVICE
-----------------------*/
h5.subtitle {
    color: #232323;
    margin-bottom: 10px;
    font-weight: 300;
}

.service-heading {
    margin-bottom: 50px;
}

.service-img {
    margin-bottom: -286px;
    border: 10px solid#fff;
    z-index: 9999;
}

.service-content {
    padding-top: 60px;
    padding-left: 15px;
}

.service-icon {
    margin-right: 20px;
    color: #fff;
    font-size: 25px;
    /* width: 50px; */
    height: 50px;
    background: #232323;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
}

.service-block {
    margin-bottom: 50px;
}

.service-content h1 {
    margin-bottom: 20px;
    margin-top: 15px;
}



.mb-30 {
    margin-bottom: 30px;
}

.service-inner-content h4 {
    text-transform: uppercase;
}


/*----------------------
 PROCESS
-----------------------*/
.process-block {
    text-align: center;
}

.process-block:hover {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
    z-index: 9999;

}

.process-block img {
    border-radius: 5px;
    margin-bottom: 30px;
    height: 60px;
}

.process-block h3 {
    margin-bottom: 15px;
}

/*----------------------
 WEB SERVICES
-----------------------*/

#services-2 {
    position: relative;
    background: url("../images/bg/6.jpg")no-repeat fixed 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}


#services-2:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, rgba(121, 110, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%);
}

.web-service-block {
    text-align: center;
    padding: 35px 25px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 10px;
}

.web-service-block i {
    font-size: 70px;
    margin-bottom: 30px;
    display: block;
}

.web-service-block i,
.web-service-block h3 {
    color: #fff;
}

.web-service-block p {
    color: #eee;
    margin-top: 15px;
}

.web-service-block:hover {
    background: #fff;
    border-color: transparent;
}

.web-service-block:hover i {
    color: #232323;
}

.web-service-block:hover h3 {
    color: #111;
}

.web-service-block:hover p {
    color: #111;
}




/*----------------------
 PRICING
-----------------------*/

.price-block {
    margin: 20px 0px 30px;
}

.price-block h2 {
    font-size: 80px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}


.price-block h2 small {
    position: absolute;
    top: 20px;
    font-size: 16px;
    left: -9px;
}

.price-block h6 {
    font-size: 14px;
    border-top: 1px solid#eee;
    border-bottom: 1px solid#eee;
    padding: 7px;
    text-transform: capitalize;
    width: 50%;
    margin: 10px auto;

}

.price-features {
    margin: 30px 0px 50px;
}

.price-features li {
    font-size: 16px;
    padding: 5px 0px;
    position: relative;
    padding-left: 30px;
}

.price-features li:before {
    position: absolute;
    content: "\f05d";
    font-family: "FontAwesome";
    left: 0px;
    top: 5px;
    color: #232323;
}

.pricing-block .price-features li {
    padding-left: 0px;
}

.pricing-block .price-features li:before {
    display: none;
}

/*----------------------
 PRoject
-----------------------*/
#projects-wrap {
    position: relative;
    background: url("../images/bg/banner_bg.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .92);
}

.overlay.feature-overlay {
    background-image: linear-gradient(30deg, rgba(121, 110, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%);
    opacity: .9;
}

#projects-wrap p.lead {
    color: #a9a9a9 !important;
}

#projects {
    margin-top: -60px;
}

.single-project img {
    border-radius: 10px;
}

.project-content {
    text-align: center;
    padding: 40px 20px;
    position: relative;
}

.project-content .btn {
    padding: .7rem 1.7rem;
    border-radius: 25px;
}

.project-content p {
    margin-top: 20px;
}

.project-content h4 {
    text-transform: capitalize;
}

.project-content-block {
    padding: 70px 40px;
    margin-left: -120px;
    background: #F4F7FC;
    position: absolute;
    bottom: -70px;
    border: 15px solid#fff;
    -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}

.project-content-block h4 {
    color: #232323;
}

.project-content-block p {
    margin-top: 25px;
}

/*------------------------------------
SECTION TESTIMONIAL
-------------------------------------*/
#section-testimonial {
    padding-bottom: 120px;
    background: #F9FAFF;
}

.mb25 {
    margin-bottom: 25px;
}

.test-inner {
    position: relative;
    padding: 30px;
    background: #fff;
    border-top-right-radius: 35px;
    margin-bottom: 25px;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.test-inner:hover {
    -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
    z-index: 9999;

}

.test-author-thumb {
    margin-bottom: 15px;
}

.test-author-thumb img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px dotted #ddd;
    padding: 5px;
}

.test-author-info {
    margin-left: 20px;
    margin-top: 20px;
}

.test-inner i {
    font-size: 60px;
    opacity: .09;
    position: absolute;
    right: 40px;
    bottom: 20px;
}








/*----------------------
 BLOG SECTION
-----------------------*/
.blog-box {
    position: relative;
}



.blog-box .blog-img-box img {
    border-radius: 5px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
}

.single-blog {
    padding-top: 25px;
    position: relative;
}

.blog-content ul {
    margin-bottom: 10px;
}



.blog-content a h3 {
    transition: all .3s ease 0s;
    margin: 15px 0px;
}

.blog-content:hover a h3 {
    color: #232323;
}


.bg-light .single-blog {
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid#eee;
}

/**--------------
 SERVICES
 ---------------*/

.kaayman-services .row.heading h2 {
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
}

.kaayman-services ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.our-webcoderskull ul>li,
.kaayman-services ul>li {
    padding: 0;
}

.kaayman-services .card-overlay,
.our-webcoderskull .card-overlay {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    border-radius: 1rem;
    height: 349px;
    z-index: 1;
}

.kaayman-services .cnt-block {
    float: left;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    margin: 0 0 28px;
    background: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center top / cover;
    color: white;
    border-radius: 1rem;
}


/* .kaayman-services .cnt-block:hover  {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
} */

.kaayman-services .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.kaayman-services .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
}

.kaayman-services .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
    z-index: 9999;
}

.kaayman-services .cnt-block h3 a {
    text-decoration: none;
    color: #ffffff;
}

.kaayman-services .cnt-block h3 a:hover {
    color: #21c87a;
    font-size: 21px;
}

/**---------------
 CONNECTED AREAS
---------------*/

.our-webcoderskull .row.heading h2 {
    color: #506A85;
    font-size: 3rem; line-height: 4rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}

.our-webcoderskull ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading.heading-icon {
    display: block;
}

.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}

.practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
}

.practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}

.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.practice-area .inner img {
    display: inline-block;
}


.our-webcoderskull .cnt-block.application-operation,
.kaayman-services .cnt-block.application-operation {
    background: url("../images/kaayman-banners/Application-Operation.jpg") no-repeat center top / cover;
}


.our-webcoderskull .cnt-block.agile-enablement,
.kaayman-services .cnt-block.agile-enablement {
    background: url("../images/kaayman-banners/Agile-Enablement.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.tools-and-technologies,
.kaayman-services .cnt-block.tools-and-technologies {
    background: url("../images/kaayman-banners/Modern-Tools.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.enteprise-architecture,
.kaayman-services .cnt-block.enteprise-architecture {
    background: url("../images/kaayman-banners/Enterprise-Architecture.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.team-augmentation,
.kaayman-services .cnt-block.team-augmentation {
    background: url("../images/kaayman-banners/Team-Augmentation.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.application-lifecycle-management {
    background: url("../images/kaayman-banners/Application-Lifecycle-Management.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.project-management {
    background: url("../images/kaayman-banners/Project-Management.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.security-and-complaince {
    background: url("../images/kaayman-banners/Info-security-compliance.jpg") no-repeat center top / cover;
}

.our-webcoderskull .cnt-block.it-sourcing-and-transformation {
    background: url("../images/kaayman-banners/IT-sourcing-transformation.jpg") no-repeat center top / cover;

}

.our-webcoderskull .cnt-block {
    float: left;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    margin: 0 0 28px;
    color: white;
    border-radius: 1rem;
    padding: 0;
}

.our-webcoderskull .cnt-block {
    float: left;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    margin: 0 0 28px;
    background: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center top / cover;
    color: white;
    border-radius: 1rem;
}

/* .our-webcoderskull .cnt-block:hover {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
} */

.our-webcoderskull .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
    color: white;
    z-index: 9999;
}

.our-webcoderskull .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
    color: white;
}

.our-webcoderskull .cnt-block h3 a:hover {
    color: #21c87a;
    font-size: 21px;
}

.testimonial-heading:hover {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
    z-index: 9999;
}

/*----------------------
 FOOTER
-----------------------*/

.contact-us-btn:hover {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
}

#footer {
    padding: 80px 0px;
    position: relative;
    background: #1e212a;
}

#footer {
    background: url("../images/bg/10.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.footer-overlay {
    background: #111;
    opacity: .94;
}

.footer-brand {
    font-size: 30px;
}

.footer-links {
    padding-left: 0;
    list-style-type: none
}


.footer-widget p {
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 14px;
}

.footer-widget h3 {
    color: #fff;
    margin-bottom: 30px;
}


.footer-links a {
    color: #888;
    line-height: 38px;
    font-size: 14px;
    text-transform: Capitalize;
}

.footer-links i {
    width: 25px;
}

.footer-copy {
    color: #888;
    font-size: 16px;
    position: relative;
}

.current-year {
    color: white !important;
}

.footer-copy:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 12px;
    width: 66%;
    height: 1px;
    background: #94959a;
}



/*-----------------------------
 SCROLL TO TOP
--------------------------------*/

.scroll-to-top {
    position: fixed;
    content: "";
    right: 30px;
    bottom: 50px;
    z-index: 999;
    background: #232323;
    color: #fff !important;
    border-radius: 100%;
    opacity: 0;

}

.scroll-to-top i {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
    display: block;
    -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    text-decoration: none;
}

.reveal {
    transition: all .3s;
    cursor: pointer;
    opacity: 1;
}


/*------------------------
Digital Transformation
---------------------------*/



.digital-transformation-banner {
    border-radius: 6px;
    height: 600px;
    color: white;
    background: url("../images/kaayman/digital-transformation-1.png");
}

@media (max-width: 576px) {
    .digital-transformation-banner {
        border-radius: 6px;
        height: 450px;
    }
}

.digital-transformation-header-text {
    padding-top: 7rem;
}

.digital-transformation-subheader-text {
    font-size: 2rem;
    padding-top: 3rem;
}

.digital-transformation-first-second-subheader-text {
    padding-top: 2rem;
}

.digital-transformation-second-header-text {
    font-weight: bold;
    font-size: 11rem;
}

.digital-transformation-second-subheader-text {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 10rem;
}

.digital-transformation-second-second-subheader-text {
    margin-left: 10rem;
    font-size: 1.3rem;
    margin-top: 1.3rem;
}

.digital-transformation-banner h1 {
    color: white;
    text-align: center;
}

.digital-transformation-banner p {
    text-align: center;
}

.digital-transformation-services {
    padding: 0.00rem 0;
}

/* Digital transformation service blocks */
.service-box {
    /* border: 1px solid#eee; */
    padding: 60px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.service-box-href {
    display: block;
}

.service-box .service-block h2 span {
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}

.service-box-content>p {
    font-weight: bold;
    font-size: 1.02rem;
}

.service-box:hover .service-block h2,
.service-box:hover h3 {
    color: #fff;
}

.service-box:hover p {
    color: #eee;
}

.service-box:hover {
    background: rgb(29, 28, 28);
    border-color: #1d1c1c;
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
    z-index: 9999;
}

.service-box:hover .btn {
    background: #fff !important;
    color: #000 !important;

}

.service-box-content {
    height: 20rem;
    border-left: solid;
    border-left-style: solid;
    border-left-width: 0.12rem;
}

@media (max-width: 576px) {
    .service-box-content {
        height: 15rem;
    }
}


.service-box-content {
    padding: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.service-box-tail svg {
    font-size: 4rem;
    margin-left: -1.8rem;
    margin-top: 1rem;
}

.service-box-tail p {
    margin: 1.2rem;
    font-size: 1.2rem;
}

.service-box-tail span {
    font-weight: bold;
    font-size: 1.3rem;
}


/*-------------------------
 HOME -2 
-----------------------------*/

.eam-main-description {
    margin: 0rem 4rem 0.7rem 4rem;
    text-indent: 2rem;
}

.eam-column-title {
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.row.job {
    margin: 0rem 6rem 2rem 4rem;
}

/*-------------------------
 HOME -2 
-----------------------------*/

.banner-area {
    animation: MotionScale 8s alternate linear;
}

#banner-kaayman {
    position: relative;
    background: url("../images/kaayman-banners/About-us.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-circular-economy {
    position: relative;
    background: url("../images/kaayman-banners/circular-economy.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-carrier {
    position: relative;
    background: url("../images/kaayman-banners/Carrier.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-approach {
    position: relative;
    background: url("../images/kaayman-banners/Our-Approach.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-evaluation {
    position: relative;
    background: url("../images/kaayman-banners/evaluation.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-organizational-enablement {
    position: relative;
    background: url("../images/kaayman-banners/Organizational-Enablement.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-sourcing-transformation {
    position: relative;
    background: url("../images/kaayman-banners/IT-sourcing-transformation.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-project-management {
    position: relative;
    background: url("../images/kaayman-banners/Project-Management.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-security-compliance {
    position: relative;
    background: url("../images/kaayman-banners/Info-security-compliance.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-team-augmentation {
    position: relative;
    background: url("../images/kaayman-banners/Team-Augmentation.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-lifecycle-management {
    position: relative;
    background: url("../images/kaayman-banners/Application-Lifecycle-Management.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-application-opperation {
    position: relative;
    background: url("../images/kaayman-banners/Application-Operation.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-modern-tools {
    position: relative;
    background: url("../images/kaayman-banners/Modern-Tools.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-agile-enablement {
    position: relative;
    background: url("../images/kaayman-banners/Agile-Enablement.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-enterprise-architecture {
    position: relative;
    background: url("../images/kaayman-banners/Enterprise-Architecture.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-digital-transformation {
    position: relative;
    background: url("../images/kaayman-banners/Redy-Digital-Transformation.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#banner-home {
    position: relative;
    background: url("../images/kaayman-banners/Homepage.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-outsourcing {
    position: relative;
    background: url("../images/kaayman-banners/outsourcing.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-consulting {
    position: relative;
    background: url("../images/kaayman-banners/consultancy.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner-factory {
    position: relative;
    background: url("../images/kaayman-banners/factory.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner {
    position: relative;
    background: url("../images/digital-transformation/banner.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.banner-content {
    padding: 150px 39px;
}

.banner-content p {
    color: #eee;
    padding-right: 80px;
    margin-bottom: 30px !important;
}

.banner-content .display-4 {
    color: #fff;
    font-weight: 600;
}

#banner .overlay,
#banner-digital-transformation .overlay,
#banner-enterprise-architecture .overlay,
#banner-modern-tools .overlay,
#banner-application-opperation .overlay,
#banner-lifecycle-management .overlay,
#banner-team-augmentation .overlay,
#banner-security-compliance .overlay,
#banner-project-management .overlay,
#banner-sourcing-transformation .overlay,
#banner-organizational-enablement .overlay,
#banner-approach .overlay,
#banner-carrier .overlay,
#banner-outsourcing .overlay,
#banner-consulting .overlay,
#banner-circular-economy .overlay,
#banner-factory .overlay,
#banner-kaayman .overlay {
    opacity: .7;
}

#banner-home .overlay,
#banner-evaluation .overlay,
#banner-agile-enablement .overlay {
    opacity: .9;
}

.banner-contact-form {
    padding: 45px 40px;
    margin-top: 30px;
}

.banner-contact-form .form-control {
    border-radius: 0px;
    height: 45px;
}

.banner-contact-form textarea.form-control {
    height: auto;
}

@keyframes MotionScale {
    from {
        /*
        Identity matrix is used as basis here.
        The matrix below describes the
        following transformations:
          Translates every X point by -50px
          Translates every Y point by -100px
          Translates every Z point by 0
          Scales down by 10%
      */
        transform: matrix3d(1, 0, 0, 0,
                0, 1, 0, 0,
                0, 0, 1, 0,
                0, 0, 0, 0.9);
    }
}

/*--------------------------
ABOUT
---------------------------*/
#about .img-block {
    position: relative;
    -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}

#about .img-block img {
    border: 5px solid #232323;
}

.pt-6 {
    padding-top: 4.5rem;
}

.img-icon i {
    font-size: 60px;
}

/*--------------------------
PRICING
---------------------------*/
.pricing-box {
    border: 1px solid#eee;
    padding: 60px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.pricing-box .price-block h2 span {
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}

.pricing-box:hover .price-block h2,
.pricing-box:hover h3 {
    color: #fff;
}

.pricing-box:hover .price-features li {
    color: #eee;
}

.pricing-box:hover {
    background: rgb(29, 28, 28);
    border-color: rgb(29, 28, 28);
}

.pricing-box:hover .btn {
    background: #fff !important;
    color: #000 !important;
}



/*-------------------------
 PORTFOLIO
---------------------------*/

.time-frame-bar {
    color: white;
    background-color: black;
    padding: 0.4rem;
}


/*-------------------------
 PORTFOLIO
---------------------------*/

.single-work {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.work-block {
    position: relative;
    border: 5px solid#fff;

}

.work-block img {
    width: 100%;
    border-radius: 5px;
}

.overlay-content-block a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    border-radius: 100%;
    position: absolute;
    left: 30px;
    top: -23px;
    background: #232323;
    color: #fff;
}


.overlay-content-block {
    position: absolute;
    content: "";
    bottom: 20px;
    width: 100%;
    left: 30px;
    padding: 30px 20px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-radius: 5px 0px 0px 5px;
}

.work-block:hover .overlay-content-block {
    opacity: 1;
    visibility: visible;
}


.overlay-content-block h4 {
    margin-bottom: 0px;
    margin-top: 10px;
}

/*----------------------
 TETSIMONIAL
-------------------------*/

.testimonial .content img {
    margin: 0 auto 30px;
    border: 3px solid#fff;
}

.img-md {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

/*------------------------
 BLOG
-------------------------*/

.blog-content h6 span {
    display: inline-block;
    padding-left: 10px;
}

.blog-content h6 span:after {
    display: none;
}

.blog-content p {
    margin: 20px 0px;
}




/*-----------------------
 HOME-3
---------------------------*/

.header-white {
    background: #232323;
    -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
}

.trans-navigation .navbar-brand h4,
.site-navigation .navbar-brand h4,
.site-navigation .navbar-brand h3,
.trans-navigation .navbar-brand h3 {
    color: #fff;
}

#banner-3 {
    position: relative;
    background: url("../images/banner/banner.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner-content.style-2 {
    padding-top: 200px;
}

.trans-navigation .navbar-brand {
    padding-top: 13px;
}


#banner-4 {
    position: relative;
    background: url("../images/banner/banner-2.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.site-navigation.header-white {
    border-bottom: 1px solid transparent;
}

.site-navigation .navbar-brand {
    padding-top: 13px;
    margin-right: 20px;
}


.banner-content2 {
    padding: 200px 0px;
}

.banner-content2 .display-4 {
    color: #fff;
    font-weight: 600;
}

.banner-content2 p.lead {
    color: #fff;
}

.navbar-brand > img {
    padding-left: 1.4rem;
    margin: 0.3rem;
}

/*--------------------------
PAGE BANNER
--------------------------*/

.page-banner-area {
    padding: 180px 0px;
}

.page-contact {
    position: relative;
    padding: 180px 0px;
    background: url("../images/banner/p-6.jpg")fixed 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-service {
    position: relative;
    padding: 180px 0px;
    background: url("../images/banner/service.jpg")fixed 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-about {
    position: relative;
    padding: 180px 0px;
    background: url("../images/banner/about.jpg")fixed 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-pricing {
    position: relative;
    padding: 180px 0px;
    background: url("../images/banner/img2.jpg")fixed 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-project {
    position: relative;
    padding: 180px 0px;
    background: url("../images/banner/p-4.jpg")fixed 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.page-banner-content h1 {
    color: #fff;
}

.page-banner-content p {
    color: #eee;
}

.form-control {
    border-radius: 0px;
    height: 45px;
}


/*---------------------------
CONTACT PAGE
-----------------------------*/

#contact-info {
    padding-top: 90px;
}

.contact-info-block {
    border-bottom: 1px solid #305a47;
    padding: 35px 20px;
    border-radius: 5px;
    color: white;
}

.contact-info-block p.lead:hover {
    color: #21c87a;
}

.contact-info-block p:hover {
    font-size: 1.325rem;
}

.contact-info-block h4 {
    margin-bottom: 0px;
    color: white;
}

.form-control:focus,
.form-control:hover {
    border-color: #232323;
    box-shadow: none;
}


/* --------------
    MAP
-----------------*/

#map {
    height: 400px;
    width: 100%;
}


/* ==============================
  SINGEL PROJECTS
=============================*/

.project-details-info {
    margin: 40px 0px;
}

.info-block-2 {
    float: left;
    margin-right: 65px;
    margin-bottom: 40px;
}

.mt50 {
    margin-top: 80px;
}

.project-info ul {
    margin-top: 40px;
}

.project-info ul li {
    margin-bottom: 16px;
}

.project-lg-img img {
    width: 100%;
}

/* =========================
Our Approach/Process
========================*/
/* body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #a5a5a5;
    font-weight: normal;
}
*/
section#our-process .padding {
    padding: 7.5rem 0;
}

section#our-process .heading-title>span {
    font-size: 1.25rem;
    display: block;
    text-transform: capitalize;
}

section#our-process .text-center .fact-iconic h3::after,
section#our-process .text-center.fact-iconic h3::after {
    margin-left: auto;
    margin-right: auto;
}

.darkcolor {
    color: #212331;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom0 {
    margin-bottom: 0;
}

section#our-process .process-wrapp {
    overflow: hidden;
    display: table;
    table-layout: fixed;
    margin: 0 15px;
}

section#our-process .process-box {
    background: #fff;
    -webkit-box-shadow: 0 0px 1px rgba(127, 123, 123, 0.1);
    box-shadow: 0 0px 1px rgba(127, 123, 123, 0.1);
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    padding: 2.5rem 15px;
}

section#our-process .process-box:hover {
    -webkit-box-shadow: 0px 0px 15px -6px #212331;
    box-shadow: 0px 0px 15px -6px #212331;
}

section#our-process .process-box,
section#our-process .process-wrapp li,
section#our-process .process-wrapp li>.pro-step,
section#our-process .process-box .pro-step {
    text-align: center;
}

section#our-process .process-wrapp,
section#our-process .process-wrapp li,
section#our-process .process-wrapp li>.pro-step {
    position: relative;
    z-index: 1;
}

section#our-process .process-wrapp li {
    padding: 60px 15px 0 15px;
    display: table-cell;
}

section#our-process .process-wrapp li>.pro-step,
section#our-process .process-box .pro-step {
    height: 90px;
    width: 90px;
    line-height: 91px;
    font-size: 28px;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

section#our-process .process-wrapp li>.pro-step,
section#our-process .process-box .pro-step,
section#our-process .process-wrapp li>.pro-step>i {
    display: inline-block;
}

section#our-process .process-wrapp li>.pro-step::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

section#our-process .process-wrapp li>.pro-step.gradient_bg_one::after {
    background: #d043ca;
}

section#our-process .process-wrapp li>.pro-step.gradient_bg_two::after {
    background: #f75799;
}

section#our-process .process-wrapp li>.pro-step.gradient_bg_three::after {
    background: #00bcd4;
}

section#our-process .process-wrapp li>.pro-step.gradient_bg_four::after {
    background: #3fb8af;
}

section#our-process .process-wrapp li>.pro-step.gradient_bg_five::after {
    background: #f39484;
}

section#our-process .process-wrapp li:hover>.pro-step::after {
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

section#our-process .process-wrapp li:hover>.pro-step>i {}

section#our-process .gradient_color_one,
section#our-process .gradient_bg_one {
    background: -webkit-linear-gradient(90deg, #8579e0, #d043ca);
    background: -webkit-gradient(linear, left top, right top, color-stop(#8579e0), color-stop(#d043ca));
    background: -webkit-linear-gradient(left, #8579e0, #d043ca);
    background: -o-linear-gradient(left, #8579e0, #d043ca);
    background: linear-gradient(90deg, #8579e0, #d043ca);
}

section#our-process .gradient_color_two,
section#our-process .gradient_bg_two {
    background: -webkit-linear-gradient(90deg, #f75799, #fd6687);
    background: -webkit-gradient(linear, left top, right top, color-stop(#f75799), color-stop(#fd6687));
    background: -webkit-linear-gradient(left, #f75799, #fd6687);
    background: -o-linear-gradient(left, #f75799, #fd6687);
    background: linear-gradient(90deg, #f75799, #fd6687);
}

section#our-process.gradient_color_three,
section#our-process .gradient_bg_three {
    background: -webkit-linear-gradient(90deg, #23ced5, #5192e1);
    background: -webkit-gradient(linear, left top, right top, color-stop(#23ced5), color-stop(#5192e1));
    background: -webkit-linear-gradient(left, #23ced5, #5192e1);
    background: -o-linear-gradient(left, #23ced5, #5192e1);
    background: linear-gradient(90deg, #23ced5, #5192e1);
}

section#our-process .gradient_color_four,
section#our-process .gradient_bg_four {
    background: -webkit-linear-gradient(90deg, #3fd39f, #3fb8af);
    background: -webkit-gradient(linear, left top, right top, color-stop(#3fd39f), color-stop(#3fb8af));
    background: -webkit-linear-gradient(left, #3fd39f, #3fb8af);
    background: -o-linear-gradient(left, #3fd39f, #3fb8af);
    background: linear-gradient(90deg, #3fd39f, #3fb8af);
}

section#our-process .gradient_color_five,
section#our-process .gradient_bg_five {
    background: -webkit-linear-gradient(90deg, #f5c28a, #f39484);
    background: -webkit-gradient(linear, left top, right top, color-stop(#f5c28a), color-stop(#f39484));
    background: -webkit-linear-gradient(left, #f5c28a, #f39484);
    background: -o-linear-gradient(left, #f5c28a, #f39484);
    background: linear-gradient(90deg, #f5c28a, #f39484);
}

.font-light {
    font-weight: 300;
}

.bottom25 {
    margin-bottom: 25px;
}

a,
*::before,
*::after,
img,
span,
input,
button,
.navbar,
.fixedmenu,
.tp-bullet,
.tparrows,
.owl-dot,
.owl-prev,
.owl-next,
.sidemenu_btn {
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

i::before,
i::after {
    -webkit-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

/* Circle */

.holderCircle {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    margin: 60px auto;
    position: relative;
}


.dotCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: 20;
}


.contentCircle .CirItem1 span,
.dotCircle .itemDot.itemDot1 {
    color: #af321c;
}

.contentCircle .CirItem2 span,
.dotCircle .itemDot.itemDot2 {
    color: #a55621;
}

.contentCircle .CirItem3 span,
.dotCircle .itemDot.itemDot3 {
    color: #a5217d;
}

.contentCircle .CirItem4 span,
.dotCircle .itemDot.itemDot4 {
    color: #0e220a;
}

.dotCircle .itemDot.itemDot1:hover,
.dotCircle .itemDot.active.itemDot1 {
    background: #af321c;
}

.dotCircle .itemDot.itemDot2:hover,
.dotCircle .itemDot.active.itemDot2 {
    background: #a55621;
}


.dotCircle .itemDot.itemDot3:hover,
.dotCircle .itemDot.active.itemDot3 {
    background: #a5217d;
}


.dotCircle .itemDot.itemDot4:hover,
.dotCircle .itemDot.active.itemDot4 {
    background: #0e220a;
}



.dotCircle .itemDot {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    background: #ffffff;
    color: #7d4ac7;
    border-radius: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    z-index: 3;
    cursor: pointer;
    border: 2px solid #e6e6e6;
}


.dotCircle .itemDot .forActive {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.dotCircle .itemDot .forActive::after {
    content: '';
    width: 5px;
    height: 5px;
    border: 3px solid #7d4ac7;
    bottom: -31px;
    left: -14px;
    filter: blur(1px);
    position: absolute;
    border-radius: 100%;
}

.dotCircle .itemDot .forActive::before {
    content: '';
    width: 6px;
    height: 6px;
    filter: blur(5px);
    top: -15px;
    position: absolute;
    transform: rotate(-45deg);
    border: 6px solid #a733bb;
    right: -39px;
}

.dotCircle .itemDot.active .forActive {
    display: block;
}

.round {
    position: absolute;
    left: 40px;
    top: 45px;
    width: 410px;
    height: 410px;
    border: 2px dotted #a733bb;
    border-radius: 100%;
    -webkit-animation: rotation 100s infinite linear;
}

.dotCircle .itemDot:hover,
.dotCircle .itemDot.active {
    color: #ffffff;
    transition: 0.5s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */
    /* Chrome10-25,Safari5.1-6 */
    background: #171d17;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 */
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13);
}

.dotCircle .itemDot {
    font-size: 40px;
}

.contentCircle {
    width: 250px;
    border-radius: 100%;
    color: #222222;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentCircle .CirItem {
    border-radius: 100%;
    color: #222222;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    font-size: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin: auto;
    line-height: 250px;
}

.CirItem.active {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}

.contentCircle .CirItem i {
    font-size: 180px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -90px;
    color: #000000;
    opacity: 0.1;
}

@media only screen and (min-width:300px) and (max-width:599px) {
    .holderCircle {
        width: 300px;
        height: 300px;
        margin: 110px auto;
    }

    .holderCircle::after {
        width: 100%;
        height: 100%;
    }

    .dotCircle {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

@media only screen and (min-width:600px) and (max-width:767px) {}

@media only screen and (min-width:768px) and (max-width:991px) {}

@media only screen and (min-width:992px) and (max-width:1199px) {}

@media only screen and (min-width:1200px) and (max-width:1499px) {}

.title-box .title {
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: -1;
}

.title-box span {
    text-shadow: 0 10px 10px rgba(0, 0, 0, .15);
    font-weight: 800;
    color: #640178;
}

.title-box p {
    font-size: 17px;
    line-height: 2em;
}

/* =========================
PRELOADER
=======================*/

#page-loader {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1050;
}

.loader-icon {
    height: 50px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.colored-border {
    border-color: #fff;
}

.fa-spin {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media (max-width: 991px) {
    .section-title {
        font-size: 30px;
    }

    .background-text {
        font-size: 60px;
    }
}

@media (max-width: 576px) {
    .section-title {
        top: 0;
    }


    .background-text {
        display: none;
    }
}

svg {
    display: inline-block;
}

iframe {
    display: inline-block;
    border: none;
    height: 300px;
    width: 400px;
    margin: 10px;
}

svg#approach-animation {
    width: 600px;
    height: 600px;
}

.job-opening-block img {
    border-radius: 5px;
    margin-bottom: 30px;
    width:100%;
    height:100%;
    object-fit: contain;
}

.job-opening-block {
    margin-top: 1.5rem;
}

.job-opening-block:hover {
    transform: scale(1.1);
    border-color: rgb(29, 28, 28);
}

.job-opening-block > a {
    height: 100%;
    width: 100%;
    position: absolute;
}